<div class="container event"
  data-controller="event-subscription"
  data-event-subscription-event-id-value="<%= @event.id %>"
>
 <div class="container event">
  <h1>#<%= @event.name %></h1>

  <div class="messages" data-event-subscription-target="messages">
    <% @event.messages.each do |message| %>
      <%= render "message", message: message %>
    <% end %>
  </div>
</div>

<%= simple_form_for [@event, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|

%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@event.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
</div>
