   <div class="modal-body">
          <%= simple_form_for [@event, @note] do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :category_list, collection: [:Catering, :Bar, :Entertainment, :Decor, :Venue, :Services, :Transport, :Other], label: "Category" %>
            <%= f.input :due_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
            <p class="mb-2">Assignee</p>
            <%= select_tag :user_id, options_from_collection_for_select(@collaborators, 'id', 'first_name' ), label: "Assignee", class:"form-control" %>
            <br>
            <%= f.button :button, "Add task", class:"btn-action" %>
          <% end %>
        </div>
