
<div class="container">
  <h1>Guests</h1>

    <div>
    <ol>
    <p>Name Surname </p>
    <p>Invitation Status</p>
    </ol>
      <% @guests.each do |guest| %>
        <p>Guest <%= guest.first_name + " " + guest.last_name%></p>
        <p>Invitation Status <%= guest.invitation_status %></p>
      <% end %>
    </div>

  <h1>Add New Guest to Guests</h1>
    <div>
      <%= simple_form_for [@event, @guest] do |f| %>
      <%= f.input :first_name, label: "First Name" %>
      <%= f.input :last_name, label: "Last Name" %>
      <%= f.input :email_address, label: "Email" %>
      <%= f.input :phone_number, label: "Phone number" %>
      <%= f.button :submit, class:"btn btn-secondary" %>
      <%# Im not 100% sure this button is working % %>
      <% end %>
    </div>

</div>
