
<div class="container">
  <h1>Guests</h1>

  <div class="action-bar-guests">
      <%= link_to "Add a Guest", "#form-add-guest", class: "btn btn-secondary"%>
      <p class="btn btn-secondary">download/email template</p>
      <p class="btn btn-secondary">import guests</p>
      <p class="btn btn-tertiary"><%= link_to "back to this.event", event_path(@event), class: "btn btn-secondary"%> </p>
  </div>
  <div class="search-bar">
      <h4 class="btn btn-secondary">placeholder for "search"</h4>
  </div>

  <div class="table-guests">
    <table>
      <tr>
        <th class="text-table-std"> Name</th>
        <th class="text-table-std"> Surname</th>
        <th class="text-table-std"> email</th>
        <th class="text-table-std"> phone</th>
        <th class="text-table-status"> Invitation Status</th>
        <th class="text-table-status"> Action </th>
      </tr>

        <% @guests.each do |guest| %>
      <tr>
        <td class="text-table-std"><%= guest.first_name %></td>
        <td class="text-table-std"><%= guest.last_name%></td>
        <td class="text-table-std"><%= guest.email_address%></td>
        <td class="text-table-std"><%= guest.phone_number%></td>
        <td class="text-table-status"><strong><%= guest.invitation_status.humanize %></strong></td>
        <td class="text-table-status"> * </td>
      </tr>
        <% end %>
    </table>
  </div>

  <div class="form-guests">
    <h1 id="form-add-guest" >Add a Guest</h1>
      <%= simple_form_for [@event, @guest] do |f| %>
        <%= f.input :first_name, label: "First Name" %>
        <%= f.input :last_name, label: "Last Name" %>
        <%= f.input :email_address, label: "Email" %>
        <%= f.input :phone_number, label: "Phone number" %>
        <%= f.button :submit, class:"btn btn-secondary" %>
      <% end %>
  </div>
<br>
</div>
