
<div class="container">
      <p class="btn btn-tertiary"><%= link_to "back to this.event", event_path(@event), class: "btn btn-secondary"%> </p>
 <%# can take this ^^^  out as needed %>

  <div class="page-header">
    <h1>Guests ~ </h1><h2><%= @event.name %> </h2>
    <%# the h2 ^ ^ ^ ^ needs to be h2 light 32px %>
  </div>

  <div class="search-actions">
    <div class="search">
      <p class="search-input">placeholder for "search"</h4>
    </div>

    <div class="actions">
      <%= link_to "Add a Guest", "#form-add-guest", class: "btn btn-secondary"%>
      <p class="btn btn-secondary">download template</p>
      <p class="btn btn-secondary">import guests</p>
    </div>
  </div>

  <div class="table">
    <table>
      <tr>
        <th class="text-table-std"> Name</th>
        <th class="text-table-std"> Surname</th>
        <th class="text-table-std"> email</th>
        <th class="text-table-std"> phone</th>
        <th class="text-table-status"> Invitation Status</th>
        <th class="text-table-status"> Action </th>
      </tr>

        <% @guests.each do |guest| %>
      <tr>
        <td class="text-table-std"><%= guest.first_name %></td>
        <td class="text-table-std"><%= guest.last_name%></td>
        <td class="text-table-std"><%= guest.email_address%></td>
        <td class="text-table-std"><%= guest.phone_number%></td>
        <td class="text-table-status"><strong><%= guest.invitation_status.humanize %></strong></td>
        <td class="text-table-status"> * </td>
      </tr>
        <% end %>
    </table>
  </div>

  <div class="form-outer">
    <h2 id="form-add-guest" >Add a Guest</h1>
    <div class="form-inner">
      <%= simple_form_for [@event, @guest] do |f| %>
        <%= f.input :first_name, label: "First Name" %>
        <%= f.input :last_name, label: "Last Name" %>
        <%= f.input :email_address, label: "Email" %>
        <%= f.input :phone_number, label: "Phone number" %>
        <%= f.button :submit, class:"btn btn-secondary" %>
      <% end %>
    </div>
  </div>
<br>
</div>
