
<div class="container">
  <h1>Guests</h1>
  <br>
    <%= link_to "back to this.event", event_path(@event), class: "btn btn btn-secondary"%>

    <div>
      <ol>
        <p>Name Surname </p>
        <p>Invitation Status</p>
      </ol>
        <% @guests.each do |guest| %>
          <li>Guest <%= guest.first_name + " " + guest.last_name%></li>
          <p>Invitation Status <strong><%= guest.invitation_status.humanize %></strong></p>
        <% end %>
    </div>

  <h1>Add New Guest to Guests</h1>
    <div>
      <%= simple_form_for [@event, @guest] do |f| %>
      <%= f.input :first_name, label: "First Name" %>
      <%= f.input :last_name, label: "Last Name" %>
      <%= f.input :email_address, label: "Email" %>
      <%= f.input :phone_number, label: "Phone number" %>
      <%= f.button :submit, class:"btn btn-secondary" %>
      <%# Im not 100% sure this button is working % %>
      <% end %>
    </div>

</div>
