<div class="container">
  <h1 class="page-title"><%= @event.name %></h1>
  <div>
    <%= link_to "overview    |   ", event_path(@event), class: "sub-nav-link"%>
    <%= link_to "tasks    |   ", event_tasks_path(@event), class: "sub-nav-link"%>
    <%= link_to "expenses    |   ", event_expenses_path(@event), class: "sub-nav-link"%>
    <%= link_to "guests     |   ", event_guests_path(@event), class: "sub-nav-link", id: "this-page"%>
    <%= link_to "chat", event_messages_path(@event), class: "sub-nav-link"%>
  </div>
  <div class="barchart">
    <%= bar_chart [
      {name: "Invite not sent", data: [["#",@guests_not_sent]]},
      {name: "Invite sent", data: [["#",@guests_invited]]},
      {name: "Accepted", data: [["#",@guests_accepted]]},
      {name: "Declined", data: [["#",@guests_declined]]}],
      stacked: true,  height: "100px", colors: ["#E67E22", "#FFC65A", "#ABCB98", "#D59E9E" ] %>
  </div>
  <br>
  <div class="search-actions">
    <div class="search-bar">
      <%= form_with method: :get, class: "search" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "search-bar border-0",
            placeholder: "Search guests..."%>
      <% end %>
    </div>
    <div class="actions">
      <p class="btn btn-secondary mb-0" data-bs-toggle="modal" data-bs-target="#addGuest"> + Add guest </p>
      <p class="btn btn-secondary mb-0">download template</p>
      <p class="btn btn-secondary mb-0">import guests</p>
    </div>
  </div>
  <br>
  <div class="modal fade" id="addGuest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addGuestLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content text-bg-light">
        <div class="modal-header">
          <h5 class="modal-title" id="addGuestLabel">New guest</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@event, @guest] do |f| %>
            <%= f.input :first_name, label: "First Name" %>
            <%= f.input :last_name, label: "Last Name" %>
            <%= f.input :email_address, label: "Email" %>
            <%= f.input :phone_number, label: "Phone number" %>
            <%= f.input :invitation_status, collection: [:invite_not_sent, :invited, :accepted, :declined], label: "Invitation status" %>
            <%= f.button :submit, "Add guest", class:"btn-action" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="scroll" style="width: 100%">
  <table class="table">
    <tr>
      <th class="text-table-std"> # </th>
      <th class="text-table-std"> Name</th>
      <th class="text-table-std"> Surname</th>
      <th class="text-table-std"> email</th>
      <th class="text-table-std"> phone</th>
      <th class="text-table-status"> Invitation Status</th>
      <th class="text-table-status"> Action </th>
    </tr>
    <tr>
      <% @guests.each_with_index do |guest, index| %>
        <td> <%= index + 1 %>
          <div class="modal fade" id="editGuest<%= guest.id %>"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editGuestLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content text-bg-light">
                <div class="modal-header">
                  <h5 class="modal-title" id="editGuestLabel">Edit guest</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [@event, guest] do |f| %>
                    <%= f.input :first_name, label: "First Name" %>
                    <%= f.input :last_name, label: "Last Name" %>
                    <%= f.input :email_address, label: "Email" %>
                    <%= f.input :phone_number, label: "Phone number" %>
                    <%= f.input :invitation_status, collection: [:invite_not_sent, :invited, :accepted, :declined], label: "Invitation status" %>
                    <%= f.button :button, "save", class:"btn-action" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="text-table-std"><%= guest.first_name %></td>
        <td class="text-table-std"><%= guest.last_name%></td>
        <td class="text-table-std"><%= guest.email_address%></td>
        <td class="text-table-std"><%= guest.phone_number%></td>
        <% if guest.invitation_status ==  "invite_not_sent"%>
          <td class="text-table-status" id="status-not-invited-pill">
            <p><%= guest.invitation_status.humanize %></p>
          </td>
        <% elsif guest.invitation_status ==  "invited" %>
          <td class="text-table-status" id="status-invited-pill">
            <p><%= guest.invitation_status.humanize %></p>
          </td>
        <% elsif guest.invitation_status ==  "accepted" %>
          <td class="text-table-status" id="status-accepted-pill">
            <p><%= guest.invitation_status.humanize %></p>
          </td>
        <% else guest.invitation_status ==  "declined" %>
          <td class="text-table-status" id="status-declined-pill">
            <p><%= guest.invitation_status.humanize %></p>
          </td>
        <% end %>
        <td class="text-table-status">
          <i class="fa-solid fa-pen fa-sm ml-2" data-bs-toggle="modal" data-bs-target="#editGuest<%= guest.id %>"> </i>
          <i class="fa-solid fa-paper-plane fa-sm ml-2" data-bs-toggle="modal" data-bs-target="#editGuest<%= guest.id %>" > </i>
          <%= link_to(event_guest_path(@event, guest), class: "guest", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) do%>
            <i class="fa-solid fa-trash fa-sm ml-2"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
</div>
