<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<p>List of tasks</p>
<ul> <% @tasks.each do |task| %>
  <li> <%= task.name %> </li>
  <% end %>%
</ul>

<p>Add a task</p>
  <%= simple_form_for [@event, @task] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :due_date %>
    <%= f.input :status, collection: ["To-Do", "Doing", "Done"]%>
    <%= f.button :button, "Create Task" %>
  <% end %>
</div>
