<div class="container">

  <div class="page-header mt-5">
    <h1>Tasks</h1>
    <h2 class="h2-light"></h2>
  </div>

  <div class="search-actions d-flex mt-4">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addTask"> + Add task </button>
    <%= link_to "Back to event", event_path(@event), class: "btn btn-secondary mr-4"%>
  </div>

  <div class="modal fade" id="addTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addTaskLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTaskLabel">New task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [@event, @task] do |f| %>
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :category_list, collection: [:Catering, :Bar, :Entertainment, :Decor, :Venue, :Services, :Transport, :Other], label: "Category" %>
            <%= f.input :due_date, as: :string, input_html: { data: { controller: "flatpickr" } } %>
            <%= f.button :button, "Add task", class:"btn-action" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="task-stats d-flex mt-4">
    <div class="card-task-stat">
      <p class="text-white text-center mb-0">Completed Tasks</p>
      <p class="text-white text-center text-large"><%= @done_tasks.count %></p>
    </div>
    <div class="card-task-stat">
      <p class="text-white text-center mb-0">Incomplete Tasks</p>
      <p class="text-white text-center text-large"><%= @incomplete_tasks.count %></p>
    </div>
    <div class="card-task-stat">
      <p class="text-white text-center mb-0">Overdue Tasks</p>
      <p class="text-white text-center text-large"><%= @overdue_tasks.count %></p>
    </div>
    <div class="card-task-stat">
      <p class="text-white text-center mb-0">Total Tasks</p>
      <p class="text-white text-center text-large"><%= @tasks.count %></p>
    </div>
  </div>

  <div class="kanban-actions">
  </div>

  <div class="kanban d-flex mt-4">
    <div class="kanban-column">
      <h3>To Do</h3>
      <div class="cards-task">
        <% @todo_tasks.each do |task| %>
          <%= render "task_infos", task: task %>
        <% end %>
      </div>
    </div>
    <div class="kanban-column">
      <h3>Doing</h3>
      <div class="cards-task">
        <% @doing_tasks.each do |task| %>
          <%= render "task_infos", task: task %>
        <% end %>
      </div>
    </div>
    <div class="kanban-column">
      <h3>Done</h3>
      <div class="cards-task">
        <% @done_tasks.each do |task| %>
          <%= render "task_infos", task: task %>
        <% end %>
      </div>
    </div>
  </div>
</div>
