<div class="container">

  <div class="page-header mt-5">
    <h1>Tasks</h1>
  </div>

  <div class="search-actions d-flex mt-4">
    <%= link_to "+ Add task", event_path(@event), class: "btn btn-secondary mr-4"%>
  </div>

  <div class="task-stats d-flex mt-4">
      <div class="card-task-stat">
        <p class="text-white text-center mb-0">Completed Tasks</p>
        <p class="text-white text-center text-large"><%= @done_tasks.count %></p>
      </div>
      <div class="card-task-stat">
        <p class="text-white text-center mb-0">Incomplete Tasks</p>
        <p class="text-white text-center text-large"><%= @incomplete_tasks.count %></p>
      </div>
      <div class="card-task-stat">
        <p class="text-white text-center mb-0">Overdue Tasks</p>
        <p class="text-white text-center text-large"><%= @overdue_tasks.count %></p>
      </div>
      <div class="card-task-stat">
        <p class="text-white text-center mb-0">Total Tasks</p>
        <p class="text-white text-center text-large"><%= @tasks.count %></p>
      </div>
  </div>

  <div class="kanban-actions">
  </div>

  <div class="kanban d-flex mt-4">
    <div class="kanban-column">
      <h3>To Do</h3>
      <div class="cards-task">
        <% @todo_tasks.each do |task| %>
        <div class="card-task">
            <h5><%= task.name.capitalize %></h5>
            <p><em><%= task.description %></em></p>
            <p><%= task.due_date.strftime("%d %B %Y") %></p>
        </div>
        <% end %>
      </div>
    </div>
    <div class="kanban-column">
      <h3>Doing</h3>
      <div class="cards-task">
        <% @doing_tasks.each do |task| %>
          <div class="card-task">
            <h5><strong><%= task.name.capitalize %></strong></h5>
            <p><em><%= task.description %></em></p>
            <p><%= task.due_date.strftime("%d %B %Y") %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="kanban-column">
      <h3>Done</h3>
      <div class="cards-task">
        <% @doing_tasks.each do |task| %>
          <div class="card-task">
            <h5><strong><%= task.name.capitalize %></strong></h5>
            <p><em><%= task.description %></em></p>
            <p><%= task.due_date.strftime("%d %B %Y") %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="add-task mt-4">
    <h2>Add a task</h2>
      <%= simple_form_for [@event, @task] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :due_date %>
        <%= f.button :button, "Create Task", class:"btn-secondary" %>
      <% end %>
    </div>
  </div>

</div>
