<div class="container">

  <h1>Tasks Index Page</h1>

  <div>
    <h2>List of tasks</h2>
    <% @tasks.each do |task| %>
      <div class="card">
        <h5><strong><%= task.name %></strong></h5>
        <p><%= task.description %></p>
        <p><%= task.due_date %></p>
        <p><%= task.status %></p>
      <% end %>
      </div>
  </div>

  <div>
    <h2>Add a task</h2>
      <%= simple_form_for [@event, @task] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :due_date %>
        <%= f.input :status, collection: ["To-Do", "Doing", "Done"]%>
        <%= f.button :button, "Create Task", class:"btn-primary" %>
      <% end %>
    </div>
  </div>

</div>

