<div class="container">

  <p><%= @event.name %></p>
  <p><%= @event.description %></p>
  <p><%= @event.start_date %></p>
  <p><%= @event.end_date %></p>
  <p><%= @event.venue_name %></p>
  <p><%= @event.venue_address %></p>
  <p><%= @event.est_guests %></p>
  <p><%= @event.total_budget %></p>
</div>
