<div class="container">
  <div class="input-container">
    <h2>Create New Event</h2>
    <%= simple_form_for(@event) do |f| %>
          <%= f.input :name, placeholder: "Event Name", label: "Event Name" %>
      <%= f.input :description, placeholder: "About Event", label: "Event Description" %>
      <div class="flex-inputs">
          <div class="row">
            <div class="col">
              <%= f.input :start_date, as: :string,
                label: "Start Date",
                placeholder: "Start Date",
                wrapper_html: { class: "mb-4" },
                label_html: { class: "form-label text-secondary fw-bold" },
                input_html: { data: { controller: "flatpickr" } } %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= f.input :end_date, as: :string,
                  label: "End Date",
                  placeholder: "End Date",
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "form-label text-secondary fw-bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
            </div>
          </div>
      </div>
      <div class="flex-inputs">
        <%= f.input :venue_name, placeholder: "Venue", label: "Venue" %>
        <%= f.input :venue_address, placeholder: "Address..", label: "Address" %>
      </div>
      <div class="flex-inputs">
        <%= f.input :est_guests, placeholder: "Estimated Guests", label: "Estimated Guests" %>
        <%= f.input :total_budget, placeholder: "Budget", label: "Budget" %>
      </div>
      <%= f.input :photo, as: :file, input_html: {  data: { photo_preview_target: "input", action:"change->photo-preview#displayPreview" }}, label_html: { class: 'image-input'}, label: 'Upload file'%>

      <%= f.button :button, "Create Event", class: "btn btn-secondary", label: false  %>
    <% end %>
  </div>
</div>
