<div class="container">
    <h1>event details</h1>
  
    <div class="input-container">
      <h4>Create New Event</h4>
        <%= simple_form_for(@event, :defaults => { :input_html => { :class => "input" } }) do |f| %>
          <%= f.input :name, placeholder: "Name", label: "Event name" %>
          <%= f.input :description, placeholder: "About Event", label: false %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :venue_name, placeholder: "Venue", label: false %>
          <%= f.input :venue_address, placeholder: "Address..", label: false %>
          <%= f.input :est_guests, placeholder: "Estimated Guests", label: "Estimated no. guests %>
          <%= f.input :total_budget, placeholder: "Budget", label: false %>
          <%= f.input :photo, as: :file, label: "Upload photo" %>
          <%= f.button :button, "Create Event", class: "btn btn-secondary", label: false  %>
        <% end %>
    </div>
</div>
