<div class="container">
    <h1>Create New Event</h1>

  <%= simple_form_for(@event) do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :venue_name %>
    <%= f.input :venue_address %>
    <%= f.input :est_guests %>
    <%= f.input :total_budget %>
    <%= f.button :button, "Create Event" %>

  <% end %>
</div>
