<div class="container">
  <h1><%= @event.name %></h1>

  <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
  <%= image_tag "https://simg.nicepng.com/png/small/125-1257327_events-icon-website-gray-events-icon-png-black.png", height: 300, width: 400, crop: :fill %>
  <% end %>
  <p><%= @event.name %></p>
  <p><%= @event.description %></p>
  <p><%= @event.start_date %></p>
  <p><%= @event.end_date %></p>
  <p><%= @event.venue_name %></p>
  <p><%= @event.venue_address %></p>
  <p><%= @event.est_guests %></p>
  <p><%= @event.total_budget %></p>

  <%= link_to "Add expenses", new_event_expense_path(@event) %>
</div>
