<div class="container-standard">
  <h1 class="page-title"><%= @event.name %></h1>
    <div class="mb-5">
    <%= link_to "overview    |   ", event_path(@event), class: "sub-nav-link", id: "this-page"%>
    <%= link_to "tasks    |   ", event_tasks_path(@event), class: "sub-nav-link"%>
    <%= link_to "expenses    |   ", event_expenses_path(@event), class: "sub-nav-link"%>
    <%= link_to "guests     |   ", event_guests_path(@event), class: "sub-nav-link"%>
    <%= link_to "chat", event_messages_path(@event), class: "sub-nav-link"%>
  </div>
  <div class="event-dashboard">
      <div class="d-flex flex-column">
        <div class="dashboard-card" id="dashboard-card-details">
          <h2>details</h2>
          <div class="event-dash-card">
            <div class="event-dash-img">
              <%= cl_image_tag @event.photo.key, crop: :fill, class: "event-banner" %>
              <p><i class="fa-solid fa-location-dot"></i> <%= @event.venue_name %></p>
            </div>
            <div class="event-dash-details">
              <div class="event-dash-numbers">
                <p><i class="fa-sharp fa-solid fa-people-group"></i> <%= @event.est_guests %></p>
                <p class="text-center"><i class="fa-solid fa-clock"></i> <%= @event.start_date.strftime("%e %b | %l%P") %></p>
                <p><i class="fa-sharp fa-solid fa-dollar-sign"></i> <%= @event.total_budget %></p>
              </div>
              <div class="event-dash-description">
                <p><%= @event.description %></p>
              </div>
            </div>
          </div>
          <div class="collabs">
            <h2 class="mt-3 mb-4">collaborators</h2>
            <div class="user-container">
                  <% @collaborators.each do |collaborator| %>
                  <% if collaborator.user.photo.attached? %>
                    <div>
                        <%= cl_image_tag collaborator.user.photo.key, crop: :fill, class: "event-avatar-collab" %>
                    </div>
                    <% else %>
                    <p><%= collaborator.user.first_name  %> <%= collaborator.user.last_name %></p>
                  <% end %>
                <% end %>
            </div>
            <%= form_with url: event_collaborations_path(@event), method: :post, class: "add-container" do  |f|  %>
              <%= f.collection_select :user_id, User.order(:first_name), :id, :first_name, prompt: "add new" %>
              <%= f.submit "+", class: "add" %>
            <% end %>
          </div>
          </div>
        </div>
      <div class="d-flex flex-column">
        <%= link_to event_expenses_path(@event) do %>
          <div class="dashboard-card">
            <h2>expenses</h2>
            <%= pie_chart(@pie_chart_expenses, donut: true, legend: "top", colors: ["#C6A4D7", "#FFC65A", "#ABCB98", "rgba(230, 126, 34, 0.6)", "#0D6EFD", "#D59E9E", "#CCCCCC", "white", ]) %>
          </div>
        <% end %>

        <%= link_to event_guests_path(@event) do %>
          <div class="dashboard-card">
            <h2>guests</h2>
            <%= pie_chart @event.guests.group(:invitation_status).count, donut: true, legend: "top", colors: ["#C6A4D7", "#FFC65A", "#ABCB98", "rgba(230, 126, 34, 0.6)", "#0D6EFD", "#D59E9E", "#CCCCCC", "white", ] %>
          </div>
        <% end %>
      </div>

      <div class="d-flex flex-column">
          <%= link_to event_tasks_path(@event) do %>
            <div class="dashboard-card", style="width:450px; height: 396px">
              <h2>
              <% if @todays_tasks.count > 0 %>
                  today's
                <% else %>
                  upcoming
              <% end %>
              tasks
              </h2>
              <div class="scroll">
              <% if @todays_tasks.count > 0 %>
                <% @todays_tasks.each do |task| %>
                  <div class="card-task event-task">
                      <div class="head">
                        <p class="name"><%= task.name %></p>
                        <p><%= cl_image_tag task.users.map { |user| user.photo.key}, class: "event-avatar" %></p>
                      </div>
                      <p class="status"><%= task.status.humanize %></p>
                  </div>
                <% end %>
                <% else %>
                  <% @todo_tasks.each do |task| %>
                    <div class="card-task event-task">
                        <div class="head">
                          <p class="name"><%= task.name %></p>
                          <p><%= cl_image_tag task.users.map { |user| user.photo.key}, class: "event-avatar" %></p>
                        </div>
                        <p class="status"><%= task.status.humanize %></p>
                    </div>
                  <% end %>
              <% end %>
              </div>
            </div>
          <% end %>


          <div class="dashboard-card", id="dashboard-card-mood", style="width: 450px">
            <h2>mood board</h2>
            <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="400" data-pin-scale-width="320" data-turbo="false" href="<%=@event.pinterest_board%>"></a>
          </div>
        </div>
    </div>
  </div>
</div>
