<div class="container-standard">
  <h1 class="page-title"><%= @event.name %></h1>
    <div>
    <%= link_to "overview    |   ", event_path(@event), class: "sub-nav-link", id: "this-page"%>
    <%= link_to "tasks    |   ", event_tasks_path(@event), class: "sub-nav-link"%>
    <%= link_to "expenses    |   ", event_expenses_path(@event), class: "sub-nav-link"%>
    <%= link_to "guests     |   ", event_guests_path(@event), class: "sub-nav-link"%>
    <%= link_to "chat", event_messages_path(@event), class: "sub-nav-link"%>
  </div>
  <div class="event-dashboard">
      <div class="d-flex flex-column">
        <div class="dashboard-card">
          <h2>details</h2>
          <div class="event-card">
            <div class="card-content">
              <div class="event-content">
                <p><i class="fa-solid fa-circle-info"></i> <%= @event.description %></p>
                <p><i class="fa-solid fa-clock"></i> <%= @event.start_date.strftime("%d %B %Y %-l%P") %> - <%= @event.end_date.strftime("%d %B %Y %-l%P") %></p>
                <p><i class="fa-solid fa-location-dot"></i> <%= @event.venue_name %>, <%= @event.venue_address %></p>
                <p><i class="fa-sharp fa-solid fa-people-group"></i> <%= @event.est_guests %></p>
                <p><i class="fa-sharp fa-solid fa-dollar-sign"></i>R <%= @event.total_budget %></p>
              </div>
            </div>
          </div>
            <h2>collaborators</h2>
                  <%= form_with url: event_collaborations_path(@event), method: :post, class: "add-container" do  |f|  %>
                    <%= f.collection_select :user_id, User.order(:first_name), :id, :first_name %>
                    <%= f.submit "+", class: "add" %>
                  <% end %>
            <div class="user-container">
              <div class="content-card user-wrapper">
                  <% @collaborators.each do |collaborator| %>
                  <% if collaborator.user.photo.attached? %>
                    <div>
                        <%= cl_image_tag collaborator.user.photo.key, crop: :fill, class: "event-avatar" %>
                    </div>
                    <% else %>
                    <p><%= collaborator.user.first_name  %> <%= collaborator.user.last_name %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
              <%= link_to "Chat", event_messages_path(@event), class: "btn btn-secondary" %>
          </div>
        </div>
      <div class="d-flex flex-column justify-content-between">
        <%= link_to event_expenses_path(@event) do %>
          <div class="dashboard-card">
            <h2>expenses</h2>
            <%= pie_chart(@pie_chart_expenses, donut: true, legend: "right") %>
          </div>
        <% end %>

        <%= link_to event_guests_path(@event) do %>
          <div class="dashboard-card">
            <h2>guests</h2>
            <%= pie_chart @event.guests.group(:invitation_status).count, donut: true, legend: "right" %>
          </div>
        <% end %>
      </div>

      <%= link_to event_tasks_path(@event) do %>
        <div class="dashboard-card", style="width:450px">
          <h2>
          <% if @todays_tasks.count > 0 %>
              today's
            <% else %>
              upcoming
           <% end %>
           tasks
           </h2>
          <% if @todays_tasks.count > 0 %>
            <% @todays_tasks.each do |task| %>
              <div class="card-task event-task">
                  <div class="head">
                    <p class="name"><%= task.name %></p>
                    <p><%= cl_image_tag task.users.map { |user| user.photo.key}, class: "event-avatar" %></p>
                  </div>
                  <p class="description"><%= task.description %></p>
                  <p class="status"><%= task.status %></p>
              </div>
            <% end %>
            <% else %>
              <% @todo_tasks.each do |task| %>
                <div class="card-task event-task">
                    <div class="head">
                      <p class="name"><%= task.name %></p>
                      <p><%= cl_image_tag task.users.map { |user| user.photo.key}, class: "event-avatar" %></p>
                    </div>
                    <p class="description"><%= task.description %></p>
                    <p class="status"><%= task.status %></p>
                </div>
              <% end %>
          <% end %>
        </div>
      <% end %>
      </div>

      <div class="dashboard-card", style="width: 800px">
        <h2>mood board</h2>
        <a data-pin-do="embedBoard" data-pin-board-width="800" data-pin-scale-height="800" data-pin-scale-width="320" href="<%=@event.pinterest_board%>"></a>
      </div>
  </div>
</div>
