<div class="container-standard">

  <h1 class="page-title"><%= @event.name %></h1>

  <div class="dashboard flex-column">

    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <div class="dashboard-card">
          <h2>details</h2>
          <div class="event-card">
            <div class="card-content">
              <div class="event-content">
                <p><i class="fa-solid fa-circle-info"></i> <%= @event.description %></p>
                <p><i class="fa-solid fa-clock"></i> <%= @event.start_date.strftime("%d %B %Y %-l%P") %> - <%= @event.end_date.strftime("%d %B %Y %-l%P") %></p>
                <p><i class="fa-solid fa-location-dot"></i> <%= @event.venue_name %>, <%= @event.venue_address %></p>
                <p><i class="fa-sharp fa-solid fa-people-group"></i> <%= @event.est_guests %></p>
                <p><i class="fa-sharp fa-solid fa-dollar-sign"></i>R <%= @event.total_budget %></p>
              </div>
            </div>
          </div>
        </div>

          <div class="dashboard-card">
            <h2>collaborators</h2>
              <%= form_with url: event_collaborations_path(@event), method: :post, class: "d-flex" do  |f|  %>
                <%= f.collection_select :user_id, User.order(:first_name), :id, :first_name %>
                <%= f.submit "add" %>
              <% end %>
            <% @collaborators.each do |collaborator| %>
              <% if collaborator.user.photo.attached?  %>
                  <%= cl_image_tag collaborator.user.photo.key, crop: :fill, class: "avatar" %>
                  <p><%= collaborator.user.first_name  %> <%= collaborator.user.last_name %></p>
                <% else %>
                <p><%= collaborator.user.first_name  %> <%= collaborator.user.last_name %></p>
              <% end %>
            <% end %>
            <%= link_to "View chat", event_messages_path(@event), class: "btn btn-secondary" %>
          </div>
      </div>

      <div class="d-flex flex-column justify-content-between">
        <%= link_to event_expenses_path(@event) do %>
          <div class="dashboard-card", style="width:450px">
            <h2>expenses</h2>
            <%= pie_chart(@pie_chart_expenses, donut: true, legend: "right") %>
          </div>
        <% end %>

        <%= link_to event_guests_path(@event) do %>
          <div class="dashboard-card", style="width: 450px">
            <h2>guests</h2>
            <%= pie_chart @event.guests.group(:invitation_status).count, donut: true, legend: "right" %>
          </div>
        <% end %>
      </div>

      <%= link_to event_tasks_path(@event) do %>
        <div class="dashboard-card", style="width:450px">
          <h2>tasks</h2>
            <% @tasks.each do |task| %>
              <div class="card-task">
                  <p><%= task.name%>, <%= task.status %></p>
                  <p>Due Date: <%= task.due_date.strftime("%d %B %Y %-l%P") %></p>
              </div>
            <% end %>
        </div>
      <% end %>


      </div>
    </div>

    <div class="d-flex justify-content-between">

      <div class="dashboard-card", style="width: 630px">
        <h2>mood board</h2>
          <div class="row justify-content-between">
            <div class="col-md-auto">
              <%= image_tag("mood_board_1.jpg", width: 210) %>
            </div>
            <div class="col-md-auto">
              <%= image_tag("mood_board_3.jpg", width: 210) %>
            </div>
          </div>
          <div class="row justify-content-centre">
            <div class="col-md-auto">
              <%= image_tag("mood_board_4.jpg", width: 420) %>
            </div>
          </div>
      </div>

      <div class="d-flex flex-column justify-content-between">
        <%= link_to event_expenses_path(@event) do %>
          <div class="dashboard-card", style="width:450px">
            <h2>expenses</h2>
            <%= pie_chart(@pie_chart_expenses, donut: true, legend: "right") %>
          </div>
        <% end %>

        <%= link_to event_guests_path(@event) do %>
          <div class="dashboard-card", style="width: 450px">
            <h2>guests</h2>
            <%= pie_chart @event.guests.group(:invitation_status).count, donut: true, legend: "right" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

</div>
