<div class="container">

<h1>My dashboard</h1>

 <div class="dashboard d-flex">
    <div class="dashboard-card">
      <div class="card">
          <h2>events</h4>
        <p><%= link_to new_event_path do%></p>
            <p><i class="fa-solid fa-circle-plus"></i></p>
        <% end %>


      <%= form_with method: :get, class: "search" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find expenses.."
        %>
        <%= submit_tag "Search", class: "button" %>
      <% end %>
    </div>
        <% @events.each do |event| %>
        <div class="event-card">
          <div class="card-content">
          <% if event.photo.attached?  %>
            <%= cl_image_tag event.photo.key, height: 200, width: 200, crop: :fill %>
            <% end %>
            <div class="event-content">
              <h5 class="text-decoration-none"><%= link_to event.name, event_path(event) %></h5>
              <p><i class="fa-regular fa-clock"></i> <%= event.start_date.strftime("%d %B %Y %-l%P") %></p>
              <p><i class="fa-solid fa-clock"></i> <%= event.end_date.strftime("%d %B %Y %-l%P") %></p>
              <div class="">
                <p><i class="fa-solid fa-location-dot"></i> <%= event.venue_name %>,
                <%= event.venue_address %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      </div>
  </div>

    <div class="dashboard-card">
      <div class="card">
          <h2>tasks</h4>
          <p><%= link_to new_event_path do%></p>
              <p><i class="fa-solid fa-circle-plus"></i></p>
          <% end %>
          <%= form_with url: "/search", method: :get do |form| %>
            <%= form.text_field :query, class: "input" %>
          <% end %>
          <div class="todo-card">
            <div class="card-content">
              <div class="event-content">
                <h5>Monday</h5>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
