<div class="container">

<h1>Dashboard</h1>
<%= link_to "Sass Components", sass_home_path %>
<%= link_to "Create New Event", new_event_path %>

<h1>All events</h1>
  <div class="cotainer">
    <div class="card">
        <h4>Events</h4>
        <p><%= link_to new_event_path do%></p>
            <p><i class="fa-solid fa-circle-plus"></i></p>
        <% end %>
        <%= form_with url: "/search", method: :get do |form| %>
          <%= form.text_field :query, class: "input" %>
        <% end %>
        <% @events.each do |event| %>
        <div class="event-card">
          <div class="card-content">
          <% if event.photo %>
            <%= cl_image_tag event.photo.key, height: 200, width: 200, crop: :fill %>
            <% end %>
            <div class="event-content">
              <p><i class="fa-solid fa-calendar-days"></i> <%= link_to event.name, event_path(event) %></p>
              <p><i class="fa-regular fa-clock"></i> <%= event.start_date.strftime("%d %B %Y %-l%P") %></p>
              <p><i class="fa-solid fa-clock"></i> <%= event.end_date.strftime("%d %B %Y %-l%P") %></p>
              <div class="">
                <p><i class="fa-solid fa-location-dot"></i> <%= event.venue_name %>,
                <%= event.venue_address %></p>
              </div>
              <p><i class="fa-solid fa-users"></i> <%= event.est_guests %></p>
              <p>R<%= event.total_budget %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
