<div class="container-standard">
  <h1 class="page-title">My dashboard</h1>
  <div class="dashboard">
    <div class="dashboard-card">
      <h2>events</h2>
      <div style="width: 100%">
        <%= form_with method: :get, class: "search" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search-bar",
            placeholder: "Search..."
          %>
        <% end %>
      </div>
      <% @events.each do |event| %>
        <%= link_to event_path(event), style: "width: 100%" do %>
          <div class="event-card">
            <div class="event-card-image">
              <% if event.photo.attached?  %>
                <%= cl_image_tag event.photo.key, height: 125, width: 145, crop: :fill %>
              <% end %>
            </div>
            <div class="event-card-content">
              <h5> <%= event.name %></h5>
              <p><%= event.start_date.strftime("%d %B %Y") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="dashboard-card">
          <h2>tasks</h2>
          <div>
            <%= form_with url: "/search", method: :get do |form| %>
              <%= form.text_field :query, class: "search-bar" %>
            <% end %>
          </div>
          <div class="todo-card">
            <h5>Monday</h5>
          </div>
    </div>

    <div class="d-flex flex-column justify-content-between">

      <div class="dashboard-card" style="width: 400px; height:300px">
            <h2>calendar</h2>
            <div class="todo-card">
              <h5>Monday</h5>
            </div>
      </div>

      <div class="dashboard-card" style="width: 400px; height:300px">
            <h2>notes</h2>
            <div class="todo-card">
              <h5>Monday</h5>
            </div>
      </div>
    </div>
</div>
