<div class="container">
  <%= link_to "Back to event", event_path(@event), class: "btn btn-secondary" %>
  <div class="page-header d-flex mt-4">
    <h1>Expenses  </h1>
    <h2 class="h2-light"><%=  @event.name%></h2>
  </div>
  <br>
  <br>
  <br>
  <div class="search-actions d-flex mt-4">
    <div class="search">
      <p class="search-input">placeholder for "search"</h4>
    </div>
    <div class="actions">
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addExpense"> + Add expense </button>
      <button type="button"  class="btn btn-secondary">upload quote</button>
      <button type="button"  class="btn btn-secondary">upload invoice</button>
    </div>
  </div>
  <div class="card-barchart">
    <h2>expenses progress</h2>
    <%= bar_chart [
        {name: "Total Expenses", data: [["R",@expenses.sum(:amount_spent)]]},
        {name: "Remaining Budget", data: [["R",@event.total_budget - @expenses.sum(:amount_spent)]]}],
        stacked: true %>
  </div>
  <br>
  <br>
  <div class="d-flex mt-4">
    <div class="modal fade" id="addExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addExpenseLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addExpenseLabel"> Add expense</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [ @event, @expense] do |f| %>
              <%= f.input :name %>
              <%= f.input :amount_spent %>
              <%= f.input :category_list, collection: [:Catering, :Bar, :Entertainment, :Decor, :Venue, :Services, :Transport, :Other], label: "Category" %>
              <%= f.input :status, collection: [:unpaid, :paid,], label: "Status" %>
              <%= f.input :due_date, label: "Due Date" %>
              <%= f.button :button, "Add expense", class:"btn-action" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="table-columns">
    <h2>expenses detailed</h2>
      <%# NB CHANGE THE % of columns ^^^^^% %>
      <table>
        <tr>
          <th class="text-table-std"> Name</th>
          <th class="text-table-std"> Amount Spent</th>
          <th class="text-table-category"> Category</th>
          <th class="text-table-status"> Status</th>
          <th class="text-table-std"> Due Date</th>
          <th class="text-table-action"> Actions</th>
        </tr>
        <% @expenses.each do |expense| %>
          <tr>
            <%= simple_form_for [@event, expense], data: {turbo: false} do |f| %>
              <div class="modal fade" id="editExpense<%= expense.id %>"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editExpenseLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editExpenseLabel">Edit expense</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= f.input :name, label: "Name" %>
                      <%= f.input :amount_spent, label: "Amount Spent" %>
                      <%= f.input :category_list, collection: [:Catering, :Bar, :Entertainment, :Decor, :Venue, :Services, :Transport, :Other], label: "Category" %>
                      <%= f.input :status, collection: [:unpaid, :paid], label: "Status" %>
                      <%= f.input :due_date, label: "Due Date" %>
                      <%= f.button :submit, "edit expense", class:"btn-action" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <td class="text-table-std"><%= expense.name %></td>
            <td class="text-table-std"><%= expense.amount_spent%></td>
            <td class="text-table-category"><%= expense.category_list%></td>
            <td class="text-table-status"> <%= expense.status.humanize%></th>
            <td class="text-table-std"> <%= expense.due_date%></th>

            <td class="text-table-action">
              <i class="fa-solid fa-pen fa-xs ml-2" data-bs-toggle="modal" data-bs-target="#editExpense<%= expense.id %>"> </i>
              <%= link_to(event_expense_path(@event, expense), class: "expense", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) do%>
                <i class="fa-solid fa-trash fa-xs ml-2"></i>
              <% end %>
            </td>
          </tr>
        <% end %>

            <td><strong> Total Spent:</strong></td>
            <td><strong><%= @total_expenses %></strong> </td>
      </table>
    </div>
    <div class="event-graph d-flex mt-4 columns: 35%">
      <%# NB CHANGE THE % of columns ^^^^^% %>
      <h2>expenses snapshot</h2>
      <%= pie_chart(@pie_chart_expenses, donut: true) %>
    </div>
  </div>
</div>
