<div class="container">
  <h1 class="page-title"><%= @event.name %></h1>
  <div class="mb-5">
    <%= link_to "overview    |   ", event_path(@event), class: "sub-nav-link"%>
    <%= link_to "tasks    |   ", event_tasks_path(@event), class: "sub-nav-link"%>
    <%= link_to "expenses    |   ", event_expenses_path(@event), class: "sub-nav-link", id: "this-page"%>
    <%= link_to "guests     |   ", event_guests_path(@event), class: "sub-nav-link"%>
    <%= link_to "chat", event_messages_path(@event), class: "sub-nav-link"%>
  </div>
  <div class="barchart">
    <%= bar_chart [
        {name: "Total Spent", data: [["R",@expenses.sum(:amount_spent)]]},
        {name: "Remaining Budget", data: [["R",@event.total_budget - @expenses.sum(:amount_spent)]]}],
        stacked: true,  height: "100px",  colors: ["#FFC65A","#C6A4D7"] %>
  </div>
  <div class="search-actions d-flex mt-4">
    <div class="search-bar">
      <%= form_with method: :get, class: "search" do %>
        <%= text_field_tag :query,
        params[:query],
        class: "search-bar border-0",
        placeholder: "Find expenses.."%>
      <% end %>
    </div>
    <div class="actions">
      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addExpense"> + Add expense </button>
      <button type="button"  class="btn btn-secondary">upload quote</button>
      <button type="button"  class="btn btn-secondary">upload invoice</button>
    </div>
  </div>
  <div class="mt-4 d-flex">
    <div class="modal fade" id="addExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addExpenseLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addExpenseLabel"> Add expense</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [ @event, @expense] do |f| %>
              <%= f.input :name %>
              <%= f.input :amount_spent %>
              <%= f.input :category_list, collection: [:Catering, :Bar, :Entertainment, :Decor, :Venue, :Services, :Transport, :Other], label: "Category" %>
              <%= f.input :status, collection: [:unpaid, :paid,], label: "Status" %>
              <%= f.input :due_date, as: :string, input_html: { data: { controller: "flatpickr" } }, label: false %>
              <%= f.button :button, "Edit", class:"btn-action" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <table class="table">
      <tr class="alt-bg">
      <th class="text-table-std"> # </th>
        <th class="text-table-std"> Name</th>
        <th class="text-table-std"> Amount Spent</th>
        <th class="text-table-category"> Category</th>
        <th class="text-table-status"> Status</th>
        <th class="text-table-std"> Due Date</th>
        <th class="text-table-action"> Actions</th>
      </tr>
      <tbody>
          <tr>
        <% @expenses.each_with_index do |expense, index| %>
        <td> <%= index + 1 %>
            <%= simple_form_for [@event, expense] do |f| %>
              <div class="modal fade" id="editExpense<%= expense.id %>"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editExpenseLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editExpenseLabel">Edit expense</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= f.input :name, label: "Name" %>
                      <%= f.input :amount_spent, label: "Amount Spent" %>
                      <%= f.input :category_list, collection: [:Catering, :Bar, :Entertainment, :Decor, :Venue, :Services, :Transport, :Other], label: "Category" %>
                      <%= f.input :status, collection: [:unpaid, :paid], label: "Status" %>
                      <%= f.input :due_date, as: :string, input_html: { data: { controller: "flatpickr" } }, label: "Due Date" %>
                      <%= f.button :submit, "save", class:"btn-action" %>
                    </div>
                  </div>
                </div>
              <% end %>
              <td class="text-table-std"><%= expense.name %></td>
              <td class="text-table-std"><%= expense.amount_spent%></td>
              <td class="text-table-category"><%= expense.category_list%></td>
              <% if expense.status ==  "paid"%>
                <td class="text-table-status" id="status-paid-pill">
                  <p><%= expense.status.humanize %></p>
                </td>
              <% else expense.status ==  "unpaid" %>
                <td class="text-table-status" id="status-unpaid-pill">
                  <p><%= expense.status.humanize %></p>
                </td>
              <% end %>
              <td class="text-table-std"> <%= expense.due_date.strftime("%d %B %Y") %></td>
              <td class="text-table-action">
                <% if expense.status == "unpaid"%>
                  <%= link_to mark_as_paid_path(@event, expense), data: {turbo_method: :patch} do %>
                    <i class="fa-regular fa-circle-check fa-lg ml-2" data-toggle="tooltip" data-placement="top" title="Mark as paid"></i>
                  <% end %>
                <% end %>
                <i class="fa-solid fa-pen fa-sm ml-2" data-toggle="tooltip" data-placement="top" title="Edit expense" data-bs-toggle="modal" data-bs-target="#editExpense<%= expense.id %>"> </i>
                <%= link_to(event_expense_path(@event, expense), class: "expense", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) do%>
                  <i class="fa-solid fa-trash fa-sm ml-2" data-toggle="tooltip" data-placement="top" title="Delete expense"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
        <tr >
          <td class="text-start"><strong > Total Spent:</strong></td>
          <td class="text-start"><strong><%= @total_expenses %></strong> </td>
        </tr>
        </tfoot>
      </table>
      <div class="pie-chart-expense">
        <%= pie_chart(@pie_chart_expenses, donut: true,  legend: "top", colors: ["#C6A4D7", "#FFC65A", "#ABCB98", "rgba(230, 126, 34, 0.6)", "#0D6EFD", "#D59E9E", "#CCCCCC", "white", ]) %>
      </div>
    </div>
  </div>
