<div class="container mt-10">
  <h1>My expenses</h1>

  <%= link_to "Go back to events", event_path(@event) %>


<% total_expenses = @expenses.sum(:amount_spent) %>

<table>
  <thead>
    <tr>

      <th>Name</th>
      <th>Amount Spent</th>
        <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.amount_spent %></td>
        <td>
        <% if e.status == "paid" %>
            <p class="text-primary"> Paid </p>
          <% else e.status == "unpaid" %>
            <p class="text-warning"> Unpaid </p>
          <% end %>
          </td>
      </tr>
    <% end %>
    <tr>
      <td>Total Budget:</td>
      <td><%= total_expenses %></td>
    </tr>
  </tbody>
</table>
<%= pie_chart @expenses.group(:name ).sum(:amount_spent), donut: true %>



  <%= link_to "New expense", new_event_expense_path(@event) %>
</div>
