<div class="container mt-10">
<div class="row">
 <div class="col-md-6">
  <h1>My expenses</h1>
  </div>
  <div class="col-md-3">
    <%= link_to "My events", event_path(@event) %>
     </div>
    <div class="col-md-3">
    <%= link_to "Add expense", new_event_expense_path(@event) %>
  </div>

</div>


<% total_expenses = @expenses.sum(:amount_spent) %>
<div class="row">
<div class="col-md-6">
<table>
  <thead>
    <tr>

      <th>Name</th>
      <th>Amount Spent</th>
        <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.amount_spent %></td>
        <td>
        <% if e.status == "paid" %>
            <p class="text-primary"> Paid </p>
          <% else e.status == "unpaid" %>
            <p class="text-warning"> Unpaid </p>
          <% end %>
          </td>
      </tr>
    <% end %>
    <tr>
      <td>Total Budget:</td>
      <td><%= total_expenses %></td>
    </tr>
  </tbody>
</table>
</div>
<div class="col-md-6">
<%= pie_chart @expenses.group(:name ).sum(:amount_spent), donut: true %>
</div>

</div>
