<div class="container mt-10">
<div class="row">
 <div class="col-md-6">
  <h1 class="page-title">My expenses</h1>
  </div>
  <div class="col-md-3">
    <%= link_to "Back to event", event_path(@event), class: "btn btn-secondary" %>
     </div>
    <div class="col-md-3">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addExpense"> + Add expense </button>
  </div>

</div>

  <div class="modal fade" id="addExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addExpenseLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addExpenseLabel">New expense</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for [ @event, @expense] do |f| %>
            <%= f.input :name %>
            <%= f.input :amount_spent %>
            <%= f.input :category_list, collection: [:Catering, :Bar, :Entertainment, :Decor, :Venue, :Services, :Transport, :Other], label: "Category" %>
            <%= f.button :button, "Add expense", class:"btn-action" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% total_expenses = @expenses.sum(:amount_spent) %>
<div class="row">
<div class="col-md-6">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount Spent</th>
      <th>Category</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.amount_spent %></td>
        <td><%= e.category_list %></td>
        <td>
        <% if e.status == "paid" %>
            <p class="text-primary"> Paid </p>
          <% else e.status == "unpaid" %>
            <p class="text-warning"> Unpaid </p>
          <% end %>
          </td>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total Expenses:</strong></td>
      <td><strong><%= total_expenses %></strong></td>
    </tr>
  </tbody>
</table>

<h5>Total Budget:</h5>
<%= @event.total_budget %>

</div>
<div class="col-md-6">
<%= pie_chart(@pie_chart_expenses, donut: true) %>
</div>

<div>
<%= bar_chart [
  {name: "Total Expenses", data: [["R",@expenses.sum(:amount_spent)]]},
  {name: "Remaining Budget", data: [["R",@event.total_budget - @expenses.sum(:amount_spent)]]}],
  stacked: true %>
</div>

</div>
